{% extends "shared/html/app.wp.html" %}
{% load static %}

{% block html %}
<!DOCTYPE html>
<html {% block html_tag_attributes %}{{ block.super }}{% endblock %}>
<head>
  {% block head %}
    {{ block.super }}
    <meta http-equiv=X-UA-Compatible content="IE=edge">
  {% endblock %}
</head>
<body {% block body_tag_attributes %}{{ block.super }}{% endblock %}>
  {% block body %}{{ block.super }}{% endblock %}
</body>
</html>
{% endblock %}
