<template lang="pug">
  q-header(elevated)
    q-toolbar
      q-btn(flat dense round @click="togglePrimaryDrawer" aria-label="Menu" icon="menu")
      q-toolbar-title
        slot(name="toolbar-title")
</template>

<script>
export default {
  name: 'AppHeader',

  methods: {
    togglePrimaryDrawer: function () {
      this.$store.commit('main/updatePrimaryDrawerState', !this.$store.state.main.primaryDrawerState)
    }
  }
}
</script>
