<template lang="pug">
  q-layout.bg-white(view="lHh Lpr lFf")

    router-view(name="header")
      template(v-slot:toolbar-title)
        slot(name="toolbar-title")

    router-view(name="primary-drawer")

    router-view(name="page")
      template(v-slot:page)
        slot(name="page")
</template>

<script>
export default {
  name: 'AppLayout'
}
</script>
