<template lang="pug">
  q-drawer(v-model="primaryDrawerState" show-if-above bordered content-class="bg-grey-2")
    q-list
      q-item-label(header) Essential Links
      q-item(clickable tag="a" target="_blank" rel="noopener" href="http://quasar.dev")
        q-item-section(avatar)
          q-icon(name="school")
        q-item-section
          q-item-label Docs
          q-item-label(caption) https://quasar.dev
      q-item(clickable tag="a" target="_blank" rel="noopener" href="https://github.quasar.dev")
        q-item-section(avatar)
          q-icon(name="code")
        q-item-section
          q-item-label Github
          q-item-label(caption) github.com/quasarframework
      q-item(clickable tag="a" target="_blank" rel="noopener" href="http://chat.quasar.dev")
        q-item-section(avatar)
          q-icon(name="chat")
        q-item-section
          q-item-label Discord Chat Channel
          q-item-label(caption) https://chat.quasar.dev
      q-item(clickable tag="a" target="_blank" rel="noopener" href="https://forum.quasar.dev")
        q-item-section(avatar)
          q-icon(name="record_voice_over")
        q-item-section
          q-item-label Forum
          q-item-label(caption) https://forum.quasar.dev
      q-item(clickable tag="a" target="_blank" rel="noopener" href="https://twitter.quasar.dev")
        q-item-section(avatar)
          q-icon(name="rss_feed")
        q-item-section
          q-item-label Twitter
          q-item-label(caption) @quasarframework
      q-item(clickable tag="a" target="_blank" rel="noopener" href="https://facebook.quasar.dev")
        q-item-section(avatar)
          q-icon(name="public")
        q-item-section
          q-item-label Facebook
          q-item-label(caption) @QuasarFramework
</template>

<script>
export default {
  name: 'AppPrimaryDrawer',

  computed: {
    primaryDrawerState: function () {
      return this.$store.state.main.primaryDrawerState
    }
  }
}
</script>
