| {% extends "base.html" %}

| {% block app %}
#q-app(v-cloak)
  router-view
    template(v-slot:toolbar-title)
      | {% block toolbar-title %}{{ self.title }}{% endblock %}
    template(v-slot:page) {% block page %}{% endblock %}
| {% endblock %}
