| {% extends "pages/main/main_page.wp.html" %}
| {% load wagtailcore_tags %}

| {% block page %}
|   {% for block in page.body %}
section.text-body1 {% include_block block %}
|   {% endfor %}
| {% endblock %}
